[Unit]
Description=Radicale CalDAV Server
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/env python3 -m radicale --config=/etc/radicale/config
User=radicale
Restart=on-failure

[Install]
WantedBy=multi-user.target
